// Child Theme SCSS

:root {
  --green: #759985;
  --purple: #b56fb0;
  --yellow: #db9e38;
  --orange: #d05c19;
  --blue: #708fb0;
  --white: #faf9f4;
  --bright: #ffffff;
  --offwhite: #FAF9F4;
  --black: #000;
  --grey: #555;
}

main#primary {
  background-color: var(--bright);
}

@media (min-width: 1920px) {
  main#primary {
    padding-top: 137px;
  }
}

//-------- Global Styles --------

a {
  color: var(--black);
  text-decoration: underline;
  &:hover,
  &:focus {
    color: var(--yellow);
  }
}

em::-moz-selection,h1::-moz-selection,h2::-moz-selection,h3::-moz-selection,h4::-moz-selection,h5::-moz-selection,p::-moz-selection,span::-moz-selection,strong::-moz-selection {
  background: var(--yellow)!important;
}

em::selection,h1::selection,h2::selection,h3::selection,h4::selection,h5::selection,p::selection,span::selection,strong::selection {
  background: var(--yellow)!important;
}


//---------- LAYOUT ----------
@import "layout/_header.scss";
@import "layout/_footer.scss";
@import "layout/accessibility.scss";

//---------- Pages ----------
@import "pages/privacy-accessibility-pages.scss";
@import "pages/backlash";
@import "pages/solutions";

//---------- BLOCK STYLES ----------
@import "blocks/_fawf-hero-block.scss";
@import "blocks/_left-quote-block.scss";
@import "blocks/fawf-text-media-block";
@import "blocks/stories-block";
@import "blocks/mosaic-accordion-block";
@import "blocks/single-color-block";

