.quote-block {
  a {
    &:hover,
    &:focus {
      color: var(--white);
    }
  }
}

@media (min-width: 1280px) {
  .quote-block.left-quote.layout--image {
    .quote {
      &__inner {
        margin-left: 95px;
        margin-right: auto;
        &::before {
          left: -38px;
          right: unset;
        }
      }
      &__image-caption {
        left: unset;
        right: 0;
      }
    }
  }
}
