.stories {
  --image-width: 21vw;
  width: 90%;
  margin: 0 auto;
  padding: 55px 0;
  .text-media__copy {
    width: 45vw;
    max-width: 600px;
    p {
      font-size: 24px;
      span {
        font-size: 24px;
      }
    }
  }
  &__story-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 3%;
    row-gap: 90px;
    margin: 35px auto 0;
    width: 100%;
    .story {
      flex: 0 0 31%;
      display: flex;
      flex-direction: column;
      &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
      &__title {
        margin: 50px 0 20px 0;
      }

      &__excerpt {
        font-size: 18px;
        margin-bottom: 18px;
        flex-grow: 1;
      }

      &__read-link {
        position: relative;
        text-decoration: none;
        color: var(--black);
        text-transform: uppercase;
        margin-right: 5px;
        font-size: 16px;
        line-height: 1.6;
        width: fit-content;
        font-weight: bold;

        &:hover {
          color: var(--yellow);
          &::after {
            right: -30px;
          }
        }

        &::after {
          content: "";
          width: 14px;
          height: 18px;
          position: absolute;
          right: -20px;
          top: 0;
          bottom: 3px;
          margin: auto;
          background: url(../img/btn-right-arrow.svg) 50% no-repeat;
          background-size: 100%;
          -webkit-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
        }
      }

      &__link {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          height: var(--image-width);
          width: var(--image-width);
          left: 23px;
          top: 30px;
          background: var(--yellow);
          border-radius: 50%;
          z-index: 1;
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          .story__link-title {
            opacity: 1;
          }
          .story__image {
            z-index: 0;
          }
          &::before {
            z-index: 5;
            left: 0;
            top: 0;
            opacity: 0.8;
          }
        }
      }

      &__image {
        width: var(--image-width);
        height: var(--image-width);
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        z-index: 10;
      }

      &__link-title {
        font-size: 50px;
        
        color: var(--black);
        position: absolute;
        transform: translate(-50%, -50%);
        text-decoration: none;
        font-weight: bold;
        top: 50%;
        left: 39%;
        z-index: 10;
        display: block;
        opacity: 0;
        text-align: center;
        &.clamp-size {
          font-size: clamp(18px, 2.8vw, 50px);
          max-width: var(--image-width);
        }
      }

      &:nth-child(even) {
        .story__link-title {
          color: var(--bright);
        }
        .story__link::before {
          background: var(--orange);
        }
        .story__read-link:hover {
          color: var(--orange);
        }
      }
    }
  }
}

.stories.overview {
  .stories {
    &__story-grid {
      .story {
        &__content {
          display: none;
        }
        &__title {
          text-align: center;
          margin-right: 89px;
        }
      }
    }
  }
}

//------ Mobile and Tablet Styles -------

//---If a touchscreen ---

@media only screen and (hover: none) {
  .stories.overview {
    .stories {
      &__story-grid {
        .story {
          &__content {
            display: block;
          }
        }
      }
    }
  }
}
//---- Queries
@media screen and (max-width: 1280px) {
  .stories {
    .text-media {
      &__title {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .stories {
    &__story-grid {
      .story {
        &__link {
          &::before {
            left: 15px;
            top: 18px;
          }
        }
      }
    }

    &.overview {
      .stories {
        &__story-grid {
          .story {
            &__title {
              margin-right: 64px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .stories {
    --image-width: 30vw;
    .container {
      .stories {
        &__story-grid {
          justify-content: space-around;
          column-gap: 5%;
          .story {
            flex-basis: 40%;
            flex-grow: 1;
            &__title {
              margin-top: 35px;
            }
            &__excerpt {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .stories {
    --image-width: 75vw;
    padding: 35px 0 50px;
    &__story-grid {
      .story {
        flex-basis: 100%;
      }
    }
  }
}
